#draw {
  background-image: url('https://file-1252913134.cos.ap-nanjing.myqcloud.com/paper.jpg');
  background-size: cover;
}
.Slider-set {
  display: 'inline-block';
  height: 18.75rem;
}
.operating-btn-list {
  position: absolute;
  left: 0;
  right: 0;
    top: 0;
  /*bottom: 30px;*/
  margin: auto;
  width: 600px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.draw-content {
  overflow: hidden;
}
